.grid {
    position: relative;
  }
  .item {
    display: block;
    position: absolute;
    border: 2px solid;
    width: 150px;
    height: 150px;
    margin: 5px;
    z-index: 1;
    background: #ffffff;
    color: #73AD21;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }