.grid {
    position: relative;
    height: inherit!important;
    background-color: inherit;
  }

.content-height {
  height: inherit;
}
.grid-scroller {
  height: calc(100vh - 120px);
}
  .item {
    overflow: hidden;
    position: absolute;
    width: 150px;
    height: 150px;
    margin: 5px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  }

  .item-won {
    box-shadow: 0px 1px 5px 0px rgb(0, 255, 64), 0px 2px 2px 0px rgba(0, 255, 64), 0px 3px 1px -2px rgba(0, 255, 64);
  }

  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
    /* width: inherit; */
    /* height: inherit; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .my-inside {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    line-height: 1.35417em;
    /* background: rgb(56, 16, 202); */
    /* color: blue; */
  }

  .inside-vs {
    margin: 15px;
    color: rgba(0, 0, 0, 0.637);
    font-size: 1.2rem;
    line-height: 1em;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  }

  .inside-win {
    color: goldenrod;
    font-size: 1.5rem;
    font-weight: 400;
    font-family:  "Roboto", "Helvetica", "Arial", "sans-serif";
    /* line-height: 1.35417em; */

  }

  .inside-lost {
    color: red;
    font-size: 1.5rem;
    font-weight: 400;
    font-family:  "Roboto", "Helvetica", "Arial", "sans-serif";
    /* line-height: 1.35417em; */

  }

  .grid-container {
    background-color: #eeeeee;
    height: inherit;
    width: 100%;
    overflow: auto;
  }